# Students Report Card Generator

In [30]:
students = [
    {"name": "Alice", "math": 85, "eng": 90, "science": 78},
    {"name": "Bob", "math": 92, "eng": 88, "science": 95},
    {"name": "Charlie", "math": 78, "eng": 85, "science": 82},
    {"name": "David", "math": 88, "eng": 92, "science": 86},
    {"name": "Emma", "math": 95, "eng": 87, "science": 91},
    {"name": "Fahim", "math": 76, "eng": 82, "science": 79},
    {"name": "Grace", "math": 89, "eng": 94, "science": 88},
    {"name": "Henry", "math": 83, "eng": 79, "science": 84},
    {"name": "Ivy", "math": 91, "eng": 85, "science": 93},
    {"name": "Jack", "math": 84, "eng": 90, "science": 87},
    {"name": "Katherine", "math": 79, "eng": 91, "science": 85},
    {"name": "Liam", "math": 87, "eng": 83, "science": 90},
    {"name": "Mia", "math": 93, "eng": 89, "science": 94},
    {"name": "Noah", "math": 82, "eng": 86, "science": 81},
    {"name": "Olivia", "math": 99, "eng": 95, "science": 92},
    {"name": "Peter", "math": 75, "eng": 78, "science": 76},
    {"name": "Quinn", "math": 88, "eng": 84, "science": 89},
    {"name": "Rachel", "math": 94, "eng": 90, "science": 96},
    {"name": "Samuel", "math": 81, "eng": 87, "science": 83},
    {"name": "Tina", "math": 86, "eng": 92, "science": 88},
    {"name": "Uma", "math": 92, "eng": 88, "science": 91},
    {"name": "Victor", "math": 77, "eng": 81, "science": 79},
    {"name": "Wendy", "math": 89, "eng": 93, "science": 87},
    {"name": "Xavier", "math": 83, "eng": 79, "science": 85},
    {"name": "Yara", "math": 91, "eng": 86, "science": 90},
    {"name": "Zayn", "math": 84, "eng": 91, "science": 86},
    {"name": "Aisha", "math": 96, "eng": 94, "science": 97},
    {"name": "Ben", "math": 78, "eng": 82, "science": 80},
    {"name": "Chloe", "math": 87, "eng": 89, "science": 84},
    {"name": "Daniel", "math": 90, "eng": 85, "science": 88},
    {"name": "Eva", "math": 85, "eng": 90, "science": 83},
    {"name": "Frank", "math": 79, "eng": 76, "science": 81},
    {"name": "Gina", "math": 92, "eng": 87, "science": 90},
    {"name": "Hasan", "math": 88, "eng": 91, "science": 89},
    {"name": "Isla", "math": 93, "eng": 95, "science": 94},
    {"name": "Jacob", "math": 82, "eng": 84, "science": 86},
    {"name": "Katie", "math": 86, "eng": 88, "science": 85},
    {"name": "Leo", "math": 91, "eng": 83, "science": 87},
    {"name": "Maya", "math": 89, "eng": 92, "science": 91},
    {"name": "Nabil", "math": 84, "eng": 86, "science": 82},
    {"name": "Omar", "math": 87, "eng": 89, "science": 88},
    {"name": "Priya", "math": 95, "eng": 93, "science": 96},
    {"name": "Qasim", "math": 80, "eng": 85, "science": 83},
    {"name": "Riya", "math": 88, "eng": 90, "science": 87},
    {"name": "Sara", "math": 92, "eng": 94, "science": 93},
    {"name": "Tom", "math": 83, "eng": 87, "science": 85},
    {"name": "Umaiza", "math": 90, "eng": 88, "science": 89},
    {"name": "Vikram", "math": 86, "eng": 91, "science": 90},
    {"name": "Zara", "math": 94, "eng": 96, "science": 95}
]

for i in students:
    i["total"] = i["math"] + i["eng"] + i["science"]
    print(i["name"], " : ", i["total"])

Alice  :  253
Bob  :  275
Charlie  :  245
David  :  266
Emma  :  273
Fahim  :  237
Grace  :  271
Henry  :  246
Ivy  :  269
Jack  :  261
Katherine  :  255
Liam  :  260
Mia  :  276
Noah  :  249
Olivia  :  286
Peter  :  229
Quinn  :  261
Rachel  :  280
Samuel  :  251
Tina  :  266
Uma  :  271
Victor  :  237
Wendy  :  269
Xavier  :  247
Yara  :  267
Zayn  :  261
Aisha  :  287
Ben  :  240
Chloe  :  260
Daniel  :  263
Eva  :  258
Frank  :  236
Gina  :  269
Hasan  :  268
Isla  :  282
Jacob  :  252
Katie  :  259
Leo  :  261
Maya  :  272
Nabil  :  252
Omar  :  264
Priya  :  284
Qasim  :  248
Riya  :  265
Sara  :  279
Tom  :  255
Umaiza  :  267
Vikram  :  267
Zara  :  285

In [ ]:
# find highest mark
import math
max_num = -math.inf   # - inf
topper = ""

for i in students:
    if(i["total"] > max_num):
        max_num = i["total"] 
        topper = i["name"]

print(f"Topper is: {topper} with {max_num} marks.")

Topper is: Aisha with 287 marks.

In [32]:
# print report cards for all students
print("------------- Report Card -------------")

for i in students:
    print(f"Name : {i["name"]} → Math : {i["math"]}, English : {i["eng"]}, Science : {i["science"]}, Total : {i["total"]}")

------------- Report Card -------------
Name : Alice → Math : 85, English : 90, Science : 78, Total : 253
Name : Bob → Math : 92, English : 88, Science : 95, Total : 275
Name : Charlie → Math : 78, English : 85, Science : 82, Total : 245
Name : David → Math : 88, English : 92, Science : 86, Total : 266
Name : Emma → Math : 95, English : 87, Science : 91, Total : 273
Name : Fahim → Math : 76, English : 82, Science : 79, Total : 237
Name : Grace → Math : 89, English : 94, Science : 88, Total : 271
Name : Henry → Math : 83, English : 79, Science : 84, Total : 246
Name : Ivy → Math : 91, English : 85, Science : 93, Total : 269
Name : Jack → Math : 84, English : 90, Science : 87, Total : 261
Name : Katherine → Math : 79, English : 91, Science : 85, Total : 255
Name : Liam → Math : 87, English : 83, Science : 90, Total : 260
Name : Mia → Math : 93, English : 89, Science : 94, Total : 276
Name : Noah → Math : 82, English : 86, Science : 81, Total : 249
Name : Olivia → Math : 99, English : 95, Science : 92, Total : 286
Name : Peter → Math : 75, English : 78, Science : 76, Total : 229
Name : Quinn → Math : 88, English : 84, Science : 89, Total : 261
Name : Rachel → Math : 94, English : 90, Science : 96, Total : 280
Name : Samuel → Math : 81, English : 87, Science : 83, Total : 251
Name : Tina → Math : 86, English : 92, Science : 88, Total : 266
Name : Uma → Math : 92, English : 88, Science : 91, Total : 271
Name : Victor → Math : 77, English : 81, Science : 79, Total : 237
Name : Wendy → Math : 89, English : 93, Science : 87, Total : 269
Name : Xavier → Math : 83, English : 79, Science : 85, Total : 247
Name : Yara → Math : 91, English : 86, Science : 90, Total : 267
Name : Zayn → Math : 84, English : 91, Science : 86, Total : 261
Name : Aisha → Math : 96, English : 94, Science : 97, Total : 287
Name : Ben → Math : 78, English : 82, Science : 80, Total : 240
Name : Chloe → Math : 87, English : 89, Science : 84, Total : 260
Name : Daniel → Math : 90, English : 85, Science : 88, Total : 263
Name : Eva → Math : 85, English : 90, Science : 83, Total : 258
Name : Frank → Math : 79, English : 76, Science : 81, Total : 236
Name : Gina → Math : 92, English : 87, Science : 90, Total : 269
Name : Hasan → Math : 88, English : 91, Science : 89, Total : 268
Name : Isla → Math : 93, English : 95, Science : 94, Total : 282
Name : Jacob → Math : 82, English : 84, Science : 86, Total : 252
Name : Katie → Math : 86, English : 88, Science : 85, Total : 259
Name : Leo → Math : 91, English : 83, Science : 87, Total : 261
Name : Maya → Math : 89, English : 92, Science : 91, Total : 272
Name : Nabil → Math : 84, English : 86, Science : 82, Total : 252
Name : Omar → Math : 87, English : 89, Science : 88, Total : 264
Name : Priya → Math : 95, English : 93, Science : 96, Total : 284
Name : Qasim → Math : 80, English : 85, Science : 83, Total : 248
Name : Riya → Math : 88, English : 90, Science : 87, Total : 265
Name : Sara → Math : 92, English : 94, Science : 93, Total : 279
Name : Tom → Math : 83, English : 87, Science : 85, Total : 255
Name : Umaiza → Math : 90, English : 88, Science : 89, Total : 267
Name : Vikram → Math : 86, English : 91, Science : 90, Total : 267
Name : Zara → Math : 94, English : 96, Science : 95, Total : 285

In [ ]:
# Print topper name and marks
print(f"Topper is: {topper} with {max_num} marks.")

Topper is: Aisha with 287 marks.